window#waybar,
window#waybar * {
  background: transparent ;
  background-color: transparent ;
  box-shadow: none ;
  padding-left: 3px;
  padding-right: 3px;
}

window#waybar {
  color: #ded8c0 ;
}
/* target workspace buttons in waybar and remove all chrome */
#hyprland-workspaces button {
  all: unset;
  background: transparent;
  border: none;
  outline: none;
  box-shadow: none;
  -gtk-outline-radius: 0;
  -gtk-icon-shadow: none;
  margin: 0 6px;
  padding: 0;
  color: inherit;
}

window#waybar button {
  border: none;
  outline: none;
  box-shadow: none;
  background: transparent;
}

/*spacing*/

#clock {
  margin-left: 4px;   /* pushes it away from the left neighbor */
  margin-right: 4px;  /* pushes it away from the right neighbor */
}
#custom-notch { min-width: 284px; }

#pulseaudio {
	margin-left: 4px;
	margin-right: 4px;
}

#network{
	margin-left: 4px;
	margin-right: 4px;
}
#battery{
	margin-right: 4px;
	margin-left: 4px;
} 























